<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-init-method="init">
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@192.10.10.8:1521:TRNG" />
		<property name="username" value="HR" />
		<property name="password" value="HR" />
	</bean>

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>/com/cpi/resource/SqlMapConfig.xml</value>
		</property>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="issuedSupplyDao" class="com.cpi.dao.impl.IssuedSupplyDAOImpl"  depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	


	<bean id="issueSupplyService" class="com.cpi.service.impl.IssuedSupplyServiceImpl" depends-on="issuedSupplyDao">
		<property name="issuedSupplyDao" ref="issuedSupplyDao"></property>
	</bean>
	

	
	<bean class="com.cpi.dao.impl.UserDAOImpl" id="userDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.cpi.userservice.impl.UserServiceImpl" id="userService" depends-on="userDAO">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	<bean class="com.cpi.dao.impl.SupplyTypeDAOImpl" id="supplyTypeDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.cpi.service.impl.SupplyTypeServiceImpl" id="supplyTypeService" depends-on="supplyTypeDAO">
		<property name="supplyTypeDAO" ref="supplyTypeDAO"></property>
	</bean>
	
	<bean id="suppliesMaintenanceDao" class="com.cpi.dao.impl.SuppliesMaintenanceDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>


	<bean id="suppliesMaintenanceService" class="com.cpi.service.impl.SuppliesMaintenanceServiceImpl"
		depends-on="suppliesMaintenanceDao">
		<property name="suppliesMaintenanceDao" ref="suppliesMaintenanceDao"></property>
	</bean>

</beans>